<h1>Some random movies</h1>

<table class="table table-striped table-bordered">
  <!-- YOUR CODE HERE -->
  <!-- Below this line is example data, delete it -->
  <tr>
    <th>
      Column 1 name
    </th>
    <th>
      Column 2 name
    </th>
    <th>
      Column 3 name
    </th>
  </tr>

  <tr>
    <td>
      Column 1 row 1
    </td>
    <td>
      Column 1 row 2
    </td>
    <td>
      Column 1 row 3
    </td>
  </tr>

  <tr>
    <td>
      Column 2 row 1
    </td>
    <td>
      Column 2 row 2
    </td>
    <td>
      Column 2 row 3
    </td>
  </tr>

  <tr>
    <td>
      Column 3 row 1
    </td>
    <td>
      Column 3 row 2
    </td>
    <td>
      Column 3 row 3
    </td>
  </tr>
</table>
